/* @import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.font-cursive {
  font-family: "Great Vibes", cursive;
}
.font-out {
  font-family: "Outfit", sans-serif;
}

.font-play {
  font-family: "Playfair Display", serif;
}

.font-playwrite {
  font-family: "Playwrite CU", cursive;
}
.font-mont {
  font-family: "Montserrat", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.font-cursive {
  font-family: "Dancing Script", cursive !important;
  font-weight: 400 !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}

.font-playfair{
  font-family: Playfair !important;
}

body, html {
  overflow-x: hidden;
}